{% extends "base.html" %}
{% block content %}
  <h2>{% if form.instance.pk %}Edit Vehicle{% else %}Add Vehicle{% endif %}</h2>
  <form method="post">
    {% csrf_token %}

    <p>{{ form.name.label_tag }} {{ form.name }}</p>
    <p>{{ form.plate_number.label_tag }} {{ form.plate_number }}</p>
    <p>{{ form.car_type.label_tag }} {{ form.car_type }}</p>
    <p>{{ form.engine_type.label_tag }} {{ form.engine_type }}</p>

    <div>
      {{ form.seats.label_tag }} {{ form.seats }}
      {% if form.seats.errors %}<div class="error">{{ form.seats.errors|striptags }}</div>{% endif %}
    </div>

    <p>{{ form.price_per_day.label_tag }} {{ form.price_per_day }}</p>

    {# Single pickup - preselected by the form #}
    <p>{{ form.available_pickup_locations.label_tag }} {{ form.available_pickup_locations }}</p>

    {# Multi drop-offs - preselected by the form #}
    <p>{{ form.available_return_locations.label_tag }} {{ form.available_return_locations }}</p>

    <button class="btn primary" type="submit">Save</button>
    <a class="btn" href="{% url 'accounts:vehicle-list' %}">Cancel</a>
  </form>

  {% if request.user.role == "admin" %}
      <a href="{% url 'accounts:admin-dashboard' %}" class="btn btn-secondary">← Back to Dashboard</a>
  {% else %}
      <a href="{% url 'accounts:manager-dashboard' %}" class="btn btn-secondary">← Back to Dashboard</a>
  {% endif %}
{% endblock %}
