
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
.env/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Node
node_modules/

# Coverage
htmlcov/
.coverage
.tox/

# pytest
.cache/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Migration sensitive (makemigrations on every startup to ensure no problems occur)
**/migrations/**
!**/migrations/__init__.py