{% extends "base.html" %}
{% block content %}
  <h2>{{ title }}</h2>
  <form method="post">
    {% csrf_token %}
    <label>
      Name
      <input type="text" name="name" value="{{ location.name|default:'' }}" required>
    </label>
    <p>
      <button class="btn primary" type="submit">Save</button>
      <button class="btn primary" href="{% url 'accounts:location-list' %}">Cancel</button>
    </p>
  </form>
    {% if request.user.role == "admin" %}
        <a href="{% url 'accounts:admin-dashboard' %}" class="btn btn-secondary">← Back to Dashboard</a>
    {% else %}
        <a href="{% url 'accounts:manager-dashboard' %}" class="btn btn-secondary">← Back to Dashboard</a>
    {% endif %}

{% endblock %}
