{% extends "base.html" %}
{% block content %}
  <h2>Vehicles</h2>
  <a class="btn primary" href="{% url 'accounts:vehicle-create' %}">+ Add Vehicle</a>
  <table>
    <tr>
      <th>Name</th><th>Car Type</th><th>Seats</th><th>Price/Day</th>
      <th>Pick-up Location</th><th>Drop-off Location</th><th>Actions</th>
    </tr>
    {% for v in vehicles %}
      <tr>
        <td>{{ v.name }}</td>
        <td>{{ v.car_type }}</td>
        <td>{{ v.seats }}</td>
        <td>{{ v.price_per_day }}</td>
        <td>{{ v.available_pickup_locations.all|join:", " }}</td>
        <td>{{ v.available_return_locations.all|join:", " }}</td>
        <td>
          <a href="{% url 'accounts:vehicle-edit' v.id %}">Edit</a> |
          <a href="{% url 'accounts:vehicle-delete' v.id %}">Delete</a>
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="7">No vehicles available.</td></tr>
    {% endfor %}
  </table>
{% endblock %}
