<p>Hi {{ user.get_full_name|default:user.username }},</p>
<p>
  The status of your reservation <strong>#{{ reservation.pk }}</strong> has changed
  from “{{ old_status|title }}” to <strong>{{ new_status|title }}</strong>.
</p>
<ul>
  <li><strong>Vehicle:</strong> {{ reservation.vehicle }}</li>
  <li><strong>Pickup:</strong> {{ reservation.pickup_location }} on {{ reservation.start_date }}</li>
  <li><strong>Return:</strong> {{ reservation.return_location }} on {{ reservation.end_date }}</li>
  <li><strong>Total price:</strong> {{ reservation.total_price }} {{ reservation.currency|default:"EUR" }}</li>
</ul>
<p>You can view your reservation from your account.</p>
<p>Thanks,<br>The Team</p>
