<!doctype html>
<html>
  <head>
    {% load static %}
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Vehicle Rental</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css'>
    
      <link rel='stylesheet' href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header>
      <h2>Vehicle Rental</h2>
      <nav>
        <ul>
          <li><a href="/" class="btn">Home</a></li>

          {% if user.is_authenticated %}
            <!-- Links for everyone logged in -->
            <li class="push-right"><a href="{% url 'accounts:logout' %}" class="btn">Logout</a></li>
            <li><a href="/reservations/" class="btn">My Reservations</a></li>
            <li><a class="btn" href="{% url 'cart:view_cart' %}">Cart</a></li>
            <li><a href="{% url 'accounts:profile' %}" class="btn">Profile</a></li>

            {% if user.role == "admin" %}
              <li><a href="{% url 'accounts:admin-dashboard' %}" class="btn primary">Admin Dashboard</a></li>

            {% elif user.role == "manager" %}
              <li><a href="{% url 'accounts:manager-dashboard' %}" class="btn primary">Manager Dashboard</a></li>
            {% endif %}

          {% else %}
            <!-- Links for guests -->
            <li class="push-right"><a href="{% url 'accounts:login' %}" class="btn">Login</a></li>
            <li><a href="{% url 'accounts:register' %}" class="btn">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    {% if messages %}
      <div style="margin:12px 0;">
        {% for message in messages %}
          <div style="padding:8px 12px;border:1px solid #ddd;border-radius:8px;margin-bottom:8px;">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}{% endblock %}
  </body>
</html>
